* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    color: gold;
    text-shadow: white 0px 0px 10px;
}

.button {
    background-color: rgb(111, 65, 154);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.color-picker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container {
    display: grid;
    border: 3px solid aqua;
    width: 500px;
    height: 500px;
}
/* random color bg */
#random-color {
    transition: background 3s;
    transition-timing-function: ease-in;
}

.box {
    background-color: rgba(128, 128, 128, 0.471);
    border: .1px solid #9a9a9a7e;
}
/* bigger screen */
@media only screen and (min-width: 1500px) {
    .container {
        width: 1000px;
        height: 1000px;
    }
}
/* small screen */
@media only screen and (max-width: 700px) {
    .container {
        width: 300px;
        height: 300px;
    }
} 