* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    color: gold;
    text-shadow: white 0px 0px 10px;
}

.button {
    background-color: rgb(111, 65, 154);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    gap: 20px;
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
    border: 3px solid aqua;
}

.box {
    background-color: rgba(128, 128, 128, 0.471);
    border: .1px solid #9a9a9a7e;
}